        /* styles.css */

        body {
            background-color: #334439;
            line-height: 1.5;
            font-family: 'tahoma';
        
        }
       h1 {
        font-family: helvetica;
       }

        * {color: #ffffff